    nav>ul {
        margin: 0
    }
    
    .header img {
        float: left;
        width: 100px;
        height: 100px;
        padding: 1em;
        background: #6B89D9;
    }
    
    .header {
        position: relative;
        background: #6B89D9;
        width: 100%;
        margin: 0em;
        padding: 0em;
    }
    
    .header h1 {
        padding: .5em;
        color: #EB6224;
        text-align: center;
        margin-right: 0em;
        margin-top: 0em;
        margin-bottom: 0em;
        margin-left: 2em;
        font-size: 4em;
    }
    
    .nav {
        background: #C4C4C4;
        padding: 0.5em;
    }
    
    .nav-items {
        padding-right: 1.75em;
        color: black;
    }
    
    .download {
        position: relative;
        display: inline-block;
    }
    
    .download-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .download-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .download:hover .download-content {
        display: block;
    }
    
    .download-content :hover {
        color: rgb(243, 13, 13);
    }